* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
/* Reset de margem */

@import "partials/colors";
/* import das variáveis de cores Sass */
@import "partials/header";
@import "partials/layout";

body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $primary-normal;
}
/* Reset body */

button {
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}
/* Reset button */

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}
